.body-image {
	background-image: url("/images/Freework_3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #f5f5f1;
}

.home-page-buttons {
	margin-top: 20%;
    margin-bottom: 8%;
}

.color-nav {
	background-color: white;
}

.freework-img {
	height: 90px;
    width: 290px;
}

.header-link-signup {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 80px;
    line-height: 90px;
    font-size: 19px;
}

.header-link-login {
	color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    padding-right: 123px;
    line-height: 90px;
    font-size: 19px;
}